table {
  border: 1px solid black;
  /* tehtävät 13, lisätty th:lle ja td:lle border */
  border-collapse: collapse;
}

th {
  padding-right: 25px;
  /*tehtävä 13 */
  border: 1px solid black;
  /*tehtävä 14*/
  color: white;
  background-color: #F00000;
  text-align: left;
}

td {
  padding-right: 25px;
  /*tehtävä 13 */
  border: 1px solid black;
}

/*tehtävä 14*/
tr:nth-child(even) {
  background: #FFF000;
}

/*
tr:nth-child(odd) {
  background: #FFFFFF;
}
*/
